.raspberry-btn
  background-color red
  // background: #2E92FD;
  // background: -webkit-linear-gradient(bottom, #2E92FD, #1986FB);
  // background: -moz-linear-gradient(bottom, #2E92FD, #1986FB);
  background: linear-gradient(to right, #f00000, #dc281e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%)
  color #eee
  font-family Helvetica
  min-width 150px
  min-height: 25px
  padding-left: 0.5rem
  padding-right: 0.5rem
  border none
  border-radius 1px
  position relative
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: none;
  font-size 18.3px
  line-height: 1.65
  font-weight: 900
  letter-spacing 0.2px
  

  &:after
    content: ''
    position: absolute
    top: 2px
    left: 2px
    width: calc(100% - 4px)
    height: 50%
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));

  &:hover
    // background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(244,250,255,1) 0%, rgba(101,229,255,1) 100%);
    background: red;
    // background: -webkit-linear-gradient(bottom, #2E92FD, #7AB3F0);
    // background: -moz-linear-gradient(bottom, #2E92FD, #7AB3F0);
    background: linear-gradient(to bottom, red 0%, lighten(darkred, 33%) 100%); 

